name: test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          check-latest: true
      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0
      - run: make build
      - run: make run-tests
